*{margin:0;padding:0;}
body{background-image:url('../media/images/luxury-silver-seamless-pattern-with-shiny-glitter-vector-22613117.jpg');
    background-position:top;
    background-size:cover;
    background-repeat:no-repeat;}

h1{color: rgb(207, 209, 222);background-color:rgb(131, 134, 137);}
h3{border:3px dotted;
    width:fit-content;background-color: rgb(207, 209, 222);}

    .book{width:250px;
        height:375px;
        left:365px;
        position: absolute;}
    
    .movie{width:250px;
        height:auto;
        left:650px;
        position: absolute;}
    
    .ai{width:100px;
        height:auto;
        position:absolute;
        top:460px;left:80px;}
    
    .traits{background-color: rgb(207, 209, 222) ;
        position:absolute;
        top:550px;left:180px;
        transform:translate(0,-40%);
        padding:10px;
        width:950px;
        height:auto;
        font-size:14pt;
        font-family:cursive;}
    
    .edward{top:700px;
        left:250px;
        position:absolute;}    
    
    .audio{background-color:rgb(131, 134, 137) ;
        position:absolute;
        top:720px;left:550px;
        transform:translate(0,-40%);
        padding:10px;
        /* width:500px; */
        height:auto;
        font-size:14pt;
        font-family:monospace;}

        .info{opacity: 0.95;
            top:650px;
            /* left:515px; */
            position:relative;
            padding:10px;
            font-size:14pt;
            background-color:rgb(207, 209, 222);}      