*{margin:0;padding:0;}
body{background-image:url('../media/images/bg,f8f8f8-flat,750x,075,f-pad,750x1000,f8f8f8.jpg');
    background-position:top;
    background-size:200px;
    /* background-size:auto;
    background-repeat:repeat; */
    }

h1{color: rgb(123, 123, 132);background-color:rgb(40, 42, 52);}
h3{border:3px dotted;
    width:fit-content;background-color:rgb(123, 123, 132);}

.book{width:250px;
        height:auto;
        left:365px;
        position: absolute;}
    
.movie{width:250px;
        height:390px;
        /* top:75px ; */
        left:650px;
        position: absolute;}
    
.ai{width:100px;
        height:auto;
        position:absolute;
        top:470px;left:80px;}
    
.traits{background-color:rgb(109, 112, 121);
        position:absolute;
        top:560px;left:180px;
        transform:translate(0,-40%);
        padding:10px;
        width:950px;
        height:auto;
        font-size:14pt;
        font-family:cursive;}
    
    .emmett{top:720px;
        left:250px;
        position:absolute;}    
    
    .audio{background-color:rgb(40, 42, 52);
        position:absolute;
        top:740px;left:550px;
        transform:translate(0,-40%);
        padding:10px;
        /* width:500px; */
        height:auto;
        font-size:14pt;
        font-family:monospace;color: white;}

        .info{opacity: 0.95;
            top:650px;
            /* left:515px; */
            position:relative;
            padding:10px;
            font-size:14pt;
            background-color:rgb(109, 112, 121);}