*{margin:0;padding:0;}
body{background-image:url('../media/images/st,small,845x845-pad,1000x1000,f8f8f8 (1).jpg');
    background-position:top;
    background-size:200px;
    /* background-size:auto;
    background-repeat:repeat; */
    }

h1{color: rgb(195, 172, 134);background-color:rgb(34, 46, 102);}
h3{border:3px dotted;
    width:fit-content;background-color:rgb(195, 172, 134);}

.book{width:250px;
        height:auto;
        left:365px;
        position: absolute;}
    
.movie{width:250px;
        height:385px;
        top:64px ;
        left:650px;
        position: absolute;}
    
.ai{width:100px;
        height:auto;
        position:absolute;
        top:460px;left:80px;}
    
.traits{background-color:rgb(195, 172, 134);
        position:absolute;
        top:490px;left:180px;
        transform:translate(0,-40%);
        padding:10px;
        width:950px;
        height:auto;
        font-size:14pt;
        font-family:cursive;}
    
    .rosalie{top:600px;
        left:250px;
        position:absolute;}    
    
    .audio{background-color:rgb(195, 172, 134);
        position:absolute;
        top:620px;left:550px;
        transform:translate(0,-40%);
        padding:10px;
        /* width:500px; */
        height:auto;
        font-size:14pt;
        font-family:monospace;}